<%- include('../_partial/_header'); -%>
   <!-- Top Navigation Menu -->
   <div class="topnav">
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <ul>
          <li><a class = 'active' href="/home">Home</a></li>
          <li><a href="/sleeves">Sleeves</a></li>
    </ul>
    </div>
  </div>

 <br></br> 
<h1>Welcome to Dan's Ranch</h1>

<%- include ('../_partial/_footer'); -%>